*{
    margin:0;
    padding:0;

}

.main{
    width:100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size:cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height:75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    margin-top: 3px;
}
.logo{
    color:#0000ff;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 2px;
    float: left;
    padding-top: 10px;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 20px;
    margin-top: 27px;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
ul li a:hover{
    color: aquamarine;
}
.search{
    width: 330px;
    float: left;
    height: 70px;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid aquamarine;
    margin-top: 13px;
    color:#fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.btn{
    width: 100px;
    height: 40px;
    background: aquamarine;
    border: 2px solid aquamarine;
    font-size: 16px;
    color: #fff;
    float: left;
    margin-top: 13px;
    cursor: pointer;                       
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn.focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.content{
    width: 1150px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    margin-top: 20px;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content.h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background:aquamarine;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px; 
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: .4 ease;
   
}
.content .cn a{
    text-decoration: none;
    color: #000000;
    font-family: Arial;
    transition: .3 ease;
}
.cn.hover{
    background-color: #fff;
}
.content span{
    color:aquamarine;
    font-size: 60px;
    
}
.form{
    width: 250px;
    height: 130px;
    background:linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position:absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    margin-top: 100px;

}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: aquamarine;
    font-size: 22px;
    background-color:#fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.welcome{
    width: 1400px;
    height: auto;
    margin: auto;
    color: #0004ff;
    position: relative;
    font-size: 70px;
    padding-left:120px;
    padding-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}